body .input {
  font: var(--font-text-4);
  border-radius: 0;
  padding: 10px 8px;
  height: 40px;
  color: var(--secondary-border);

  @media screen and (max-width: 375px) {
    font-size: 15px;
  }

  &,
  &:hover {
    border-color: unset;
    border: 1px solid var(--gray-color-3);
  }
  &:focus,
  &:focus-visible {
    border: 1px solid var(--accent-color-1);
  }

  &,
  &:global(.ant-input:focus),
  &:global(.ant-input-focused) {
    box-shadow: unset;
  }

  &::placeholder {
    color: var(--primary-border) !important;
  }

  &Error {
    &,
    &:hover,
    &:focus,
    &:focus-visible {
      border: 1px solid var(--red-color);
    }
  }
}
