@import '@frakt/scss/abstracts/typography';

.container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  max-width: 736px;
  width: 100%;
}

.title {
  @include text-title-1;
  text-align: left;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  height: 48px;
  width: 100%;
}
