.content {
  max-width: 1430px;

  margin-left: auto;
  margin-right: auto;

  padding: 32px;
  padding-top: 96px;

  overflow-y: auto;
  scrollbar-gutter: stable;
  height: 100%;

  @media screen and (max-width: 768px) {
    padding: 0;
    padding-top: 84px;
  }
}

.contentInner {
  background-color: var(--primary-background);
  border: 1px solid var(--primary-border);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 32px;
  position: relative;
  height: 640px;

  @media screen and (max-width: 768px) {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 24px;
    height: calc(100% - 84px);
  }
}

.leftImage,
.rightImage {
  position: absolute;
  bottom: 0;
  height: 407px;
  width: 407px;
}
.leftImage {
  left: -80px;
}
.rightImage {
  right: -30px;
}
