.modal {
  :global {
    z-index: 2;

    .ant-modal-content {
      padding: 0 !important;
    }

    .ant-modal-body {
      padding: 0 !important;
      margin: -1px;
    }

    @media (max-width: 960px) {
      position: fixed;
      top: unset !important;
      left: 0;
      right: 0;
      bottom: 0 !important;
      margin: 0 !important;
      max-width: 100vw !important;
      width: unset !important;
    }
  }
}

.modal::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid var(--primary-text);
  background-color: var(--primary-text);
  top: 4px;
  left: 4px;

  @media (max-width: 960px) {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 24px;
  min-height: 516.5px;

  @media (max-width: 550px) {
    padding: 16px;
    gap: 16px;
  }
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.statsValue {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    color: #fff;
    font: var(--font-text-6);
    text-transform: uppercase;
  }

  p {
    color: #fff;
    font: var(--font-subtitle);
  }
}

.bondsTable :global {
  height: 320px;
  overflow: auto;

  .ant-table-content {
    min-height: 315px !important;
    overflow: auto !important;
  }

  .ant-table-thead > tr > th:first-child,
  .ant-table-tbody > tr > td:first-child {
    padding-left: 0;
  }
  .ant-table-thead > tr > th:last-child,
  .ant-table-tbody > tr > td:last-child {
    padding-right: 0;
  }
  ::-webkit-scrollbar {
    height: 0px;
  }
}

.bondsTable :global {
  width: 100%;
  cursor: default;

  .ant-table-thead > tr > td:last-child {
    background: transparent !important;
    border-bottom: 1px solid var(--primary-border) !important;
  }

  .ant-table-tbody > tr > td:last-child {
    width: 128px !important;
  }
}

.emptyContainer {
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;

  h4 {
    font-size: 24px;
    text-align: center;
  }
}
