.rowGap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sortWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  position: relative;

  @media screen and (max-width: 960px) {
    align-items: unset;
    gap: 8px;
  }
}

.searchWrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  @media screen and (max-width: 960px) {
    gap: 4px;
  }
}

.switchButtons {
  display: flex;
  align-items: center;
  gap: 4px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (max-width: 960px) {
    position: static;
    top: unset;
    left: unset;
    transform: unset;
  }
}
.switchViewButton {
  padding: 0;
  height: 32px;
  width: 32px;
}
.switchViewButton.active {
  border-color: var(--secondary-border);
}
.switchViewButton svg path {
  fill: var(--secondary-border);
}

.sortingButton {
  width: 80px;
  height: 32px;
}

.searchInput {
  max-width: 173px;
  width: unset;

  @media screen and (max-width: 550px) {
    max-width: 150px;
  }
}

.checkbox {
  height: 16px;
}
.checkboxInnerContent::after {
  border-width: 0.75px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 0.75px;
  width: 6.75px;
}
