@mixin text-title {
  font-family: 'Syne';
  font-size: 72px;
  font-weight: 800;
  line-height: 86px;
}

@mixin text-title-1 {
  font-family: 'Syne';
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
}

@mixin text-subtitle {
  font-family: 'Chakra Petch';
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
}

@mixin text-number {
  color: var(--secondary-text);
  font-family: 'Chakra Petch';
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
}

@mixin text-main {
  font-family: 'Chakra Petch';
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

@mixin text-small {
  font-family: 'Syne';
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
}

@mixin text-button {
  font-family: 'Syne';
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
