@import '@frakt/scss/abstracts/typography';

.container {
  border: 1px solid var(--primary-border);
  display: flex;
  flex-direction: column;
  padding: 24px;
  max-width: 736px;
  width: 100%;
  margin-top: 8px;
}

.title {
  @include text-title-1;
  text-align: left;
}

.nftList {
  margin: 24px 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(79px, 1fr));
  grid-template-rows: min-content;
  gap: 8px;
  align-items: stretch;
  overflow: auto;
  height: 255px;

  @media (max-width: 768px) {
    height: 220px;
    grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
  }
}

.emptyList {
  grid-template-columns: unset;
}

.nftCard,
.collectionImage,
.selectedCollectionOverlay {
  height: 79px;
  width: 79px;

  @media (max-width: 768px) {
    height: 32px;
    width: 32px;
  }
}

.nftCard {
  cursor: pointer;
}

.collectionImageWrapper {
  position: relative;
}

.selectedCollectionOverlay {
  background-color: var(--light-green-color);
  border: 1px solid var(--button-text);
  position: absolute;
  top: 0;
  left: 0;

  &:after {
    content: '';
    display: block;
    background: var(--button-text);
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3.3px;
    width: 29px;
  }

  @media screen and (max-width: 768px) {
    &:after {
      height: 1.3px;
      width: 12px;
    }
  }
}

.buttonWrapper {
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 24px;

  @media (max-width: 550px) {
    gap: 16px;
  }
}

.button {
  height: 48px;
  width: 100%;

  @media (max-width: 768px) {
    height: 40px;
  }
}
