.card {
  transition: transform 0.5s;
  background-size: cover;
}

.card,
.flipCard {
  width: 328px;
  height: 328px;

  @media (max-width: 1080px) {
    width: 280px;
    height: 280px;
  }

  @media (max-width: 960px) {
    width: 248px;
    height: 248px;
    position: relative;
    top: 0;
  }

  @media (max-width: 550px) {
    width: 144px;
    height: 144px;
  }
}

.card.animate {
  transform: translateX(-300px);

  @media (max-width: 1080px) {
    transform: translateX(-280px);
  }

  @media (max-width: 960px) {
    transform: translateY(-120px);
    position: relative;
  }
}

.flipCard {
  perspective: 1000px;

  .flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    transform-style: preserve-3d;

    &.flipped {
      transform: rotateY(180deg);
    }

    .flipCardFront,
    .flipCardBack {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .flipCard-front {
      z-index: 2;
      transform: rotateY(0deg);
    }

    .flipCardBack {
      transform: rotateY(180deg);
      background-color: var(--secondary-background);
      background-size: cover;
    }
  }
}
