@import '@frakt/scss/abstracts/typography';

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  @extend .column;
  gap: 16px;
}

.totalMinted {
  @include text-number;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.button {
  height: 48px;
  width: 210px;
}
