.root {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 32px;
  left: 32px;

  background-color: var(--primary-background);
  border: 1px solid var(--primary-border);
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  transition: border var(--transition-1);

  &:hover {
    border-color: var(--secondary-border);
  }
}

.root svg path {
  fill: var(--secondary-border);
}
